* {
  all: unset;
}

.bar, .horizontal {
  opacity: 0.99;
  /* border-radius: 1.2rem; */
  /* background-color: rgba($color: #000000, $alpha: 0.99); */
  background-color: rgba($color: #1D2021, $alpha: 0.99);
  /* background-color: rgba($color: #191724, $alpha: 0.99); */
  /* background-color: rgba($color: #001419, $alpha: 0.99); */
  /* color: #FDF5E2; */
  color: #e0def4;
  font-family: "Iosevka NFM";
}

.bar {
  padding: 0;
  border: solid;
}

.common {
  font-family: "Iosevka Term NFM";
  font-size: 2rem;
  font-weight: 900;
  padding-left: 1rem;
  padding-right: 1rem;
}

.time {
  color: #b8bb26;
  /* color: #9ccfd8; */
}


.battery__logo {
  color: #83A598;
  font-size: 4rem;
}

.start {
  all: unset;
  color: #fb4934;
  /* color: #c4a7e7; */
  font-size: 4rem;
  padding-right: 1rem;
  padding-left: 1.4rem;
}

.common.time {
  padding: 2rem;
}

.time__hours {
  color: #B8BB26;
  /* color: #9ccfd8; */
}

.time__minutes {
  color: #B8BB26;
  /* color: #9ccfd8; */
}

.time__separator {
  color: #FF5F5F;
  /* color: #eb6f92; */
}

.battery__perc {
  color: #FABD2F;
  /* color: #EBBCBA; */
}

.bigtime {
  opacity: 0.99;
  margin: 4rem;
}

.timeblock {
  color: #1d2021;
  font-family: "Iosevka NFM";
  font-weight: bolder;
  background-color: #83A598;
  border-radius: 0.4rem;
  padding: 1.8rem;

  border-width: 4px;
  border-color: #1D2021;
  border-style: solid;

  box-shadow: 20px 20px #151515;
}


.time-number {
  font-size: 4rem;
}

.separator {
  font-size: 4rem;
  color: #151515;
}
