* {
  all: unset;
}

.bar {
  opacity: 0.99;
  border-radius: 1.6rem;
  background-color: rgba($color: #1D2021, $alpha: 0.99);
  /* background-color: rgba($color: #001419, $alpha: 0.99); */
  color: #FDF5E2;
  font-family: "Iosevka NFM";
}

.common {
  font-family: "Iosevka Term NFM";
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
}

.time {
  color: #b8bb26;
}


.battery {
  color: #83A598;
}

.start {
  color: #fb4934;
  font-size: 3.2rem;
}
