zsh
FortiClient
dconf
evolution
gtk-3.0
htop
ibus
pulse
gnome-initial-setup-done
mimeapps.list
niri-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
gnome-session
goa-1.0
gtk-4.0
update-notifier
yelp
chromium
neofetch
ttyper
JetBrains
mangal
pdfcpu
pavucontrol.ini
.gsd-keyboard.settings-ported
